{#{% for tab in tabs %}#}
{#    <article>#}
{#        <header>#}
{#            <h1>{{ post.title }}</h1>#}
{#        </header>#}
{#        <p>{{ post.body }}</p>#}
{#    </article>#}
{#{% endfor %}#}

<h1>{{ testhead }}</h1>
