.card-box
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  font-family: $main-font
  letter-spacing: 0.5px
  font-weight: bold
  color: $black
  line-height: 1.4

